<template>
  <draggable
    :list="categories"
    :group="{ name: 'categories' }"
    item-key="randomKey"
  >
    <template #item="{element}">
      <app-accordion-item :child="child" :element="element"/>
    </template>
  </draggable>
</template>

<script>
	import draggable from 'vuedraggable'

	export default {
		name: "AppAccordion",
		components: {draggable},
		props: {
			child: {
				type: Boolean,
        default: false
      },
			categories: {
				type: Array,
				required: true,
			}
		},
    data() {
			return {
			}
    },
		mounted() {
		}
	}
</script>

<style scoped>

</style>