<template>

  <div class="list-group-item">
    <div class="flex justify-between bg-white p-4"
      :class="{
        'bg-white': !child,
        'bg-gray-100': child
      }"
    >
      <div class="flex items-center">
        <app-draggable-dots class="mr-3"/>
        <svg
          @click="open = !open"
          v-if="element.children"
          :class="{
            'transform rotate-90': open
          }"
          class="mr-3 cursor-pointer"
          width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.81367 10.3215L7.2222 6.05564C7.30933 5.98688 7.37927 5.90159 7.42722 5.80561C7.47517 5.70963 7.5 5.60524 7.5 5.4996C7.5 5.39396 7.47517 5.28957 7.42722 5.19359C7.37927 5.09761 7.30933 5.01231 7.2222 4.94355L1.81367 0.677679C1.29742 0.270563 0.5 0.608097 0.5 1.23373L0.5 9.76669C0.5 10.3923 1.29742 10.7299 1.81367 10.3215Z"
            fill="#2F80ED"/>
        </svg>

        <span class="font-semibold text-base mr-3">{{ element?.name || 'defaultName' }}</span>
        <div class="rounded-full h-5 w-5 flex items-center justify-center bg-gray-100 text-xl font-bold text-white">
          +
        </div>
      </div>

      <div class="flex items-center">
        <app-switch v-model:checked="visible" :checked="element?.show"/>
        <svg class="cursor-pointer ml-16 w-12" viewBox="0 0 14 18" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3.46 8.88L4.87 7.47L7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z"
            fill="black"/>
        </svg>
      </div>
    </div>

    <div
      v-if="open"
      class="children w-full bg-gray-100 pl-5"
    >
      <app-accordion :child="true" :categories="element?.children || []"/>
    </div>
  </div>

</template>

<script>
	import AppDraggableDots from "../shared/AppDraggableDots";
	import AppSwitch from "../shared/AppSwitch";

	export default {
		name: "AppAccordionItem",
		props: {
			child: {
				type: Boolean,
				required: true
			},
			element: {
				required: true
			},
		},
		components: {AppSwitch, AppDraggableDots},
		data() {
			return {
				categories: this.element?.children || [],
				visible: this.element.show,
				open: false,
			}
		}
	}
</script>

<style scoped>
  .color {
    color: #00BA8F;
  }
</style>