<template>

  <div class="circle">
    <div class="back" :style="backStyle"></div>
    <svg
      class="transform rotate-90"
      :style="svgStyle">
      <circle :cx="r" :cy="r" :r="cr"
              :stroke-linecap="typeof round!=='undefined'?'round':'butt'"
              :stroke-width="width"
              :stroke-dasharray="circumference*progress+','+circumference"/>
    </svg>
    <div class="text">{{ prg + '%' }}</div>
  </div>

</template>

<script>
	export default {
		name: "AppCircleProgress",
		props: {
			round: {default: true},
			linebgcolor: {default: 'gray'},
			linecolor: {default: 'green'},
			size: {default: 60},
			width: {default: 5},
			prg: {default: 0},
			text: {default: ''},
		},
		data() {
			return {
				start: false
			}
		},
		computed: {
			progress() {
				return this.prg / 100
			},
			circumference() {
				return Math.PI * (this.size - this.width)
			},
			r() {
				return this.size / 2
			},
			cr() {
				return this.r - this.width / 2
			},
			svgStyle() {
				return 'width:' + this.size + 'px;height:' + this.size + 'px;stroke:' + this.linecolor + ';'
			},
			backStyle() {
				return 'color:' + this.linebgcolor + ';border-width:' + this.width + 'px'
			}
		},
	}
</script>

<style scoped>
  body {
    padding: 20px;
    margin: 0;
    font-family: arial;
  }

  .circle {
    position: relative;
    display: inline-block;
    font-size: 0;
  }

  .circle .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 15px solid currentColor;
    border-radius: 50%;
    z-index: -1;
  }

  .circle circle {
    position: absolute;
    fill: none;
    transform-origin: center;
    transform: rotateZ(180deg);
  }

  .circle .text {
    position: absolute;
    font-size: 14px;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
  }

</style>