<template>
  <div class="w-1/3 bg-white rounded-md p-5 divide-y">
    <p class="font-bold mb-5">{{ heading }}</p>
    <div
      v-for="(row, idx) in items"
      :key="idx"
      class="flex justify-between mt-1 py-2">
      <span class="font-thin">{{ row.key }}</span>
      <span class="font-semibold">{{ row.value }}</span>
    </div>
  </div>
</template>

<script>
	export default {
		name: "AppStitasticCard",
    props: {
			heading: {
				type: String,
        required: true
      },
			items: {
				type: Object,
      }
    }
	}
</script>

<style scoped>

</style>