<template>
  <div @click="$router.back()"
       class="flex text-blue-500 items-center cursor-pointer">
    <svg class="h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
    </svg>
    Назад
  </div>
</template>

<script>
  export default {
    name: "GoBackButton"
  }
</script>

<style scoped>

</style>