<template>
  <li @mouseenter="showSubMenus"
      @mouseleave="hideSubMenus"
      class="menu-item transition duration-300 ease-in-out cursor-pointer flex flex-col justify-start">
      <span class="flex items-center mx-5 my-3">
        <slot></slot>
        <span class="ml-2 font-normal text-md">
          <router-link v-if="link" :to="link">
                 {{text}}
          </router-link>
          <span v-else>{{text}}</span>
        </span>
      </span>
    <ul v-if="showChildren" class="block text-sm px-12 bg-blue-darken">
        <li v-for="(child, index) in children" :key="index" class="py-3">
          <router-link :to="child.link">
            {{child.name}}
          </router-link>
        </li>
    </ul>
    <div v-if="showSideMenu" class="absolute shadow-md bg-white w-52 left-40 xl:left-52 px-5 py-2">
      <p class="py-1 text-black" v-for="(item, index) in subMenuItems" :key="index">
        <router-link class="" tag="a" :to="item.link">
          {{item.name}}
        </router-link>
      </p>
    </div>
  </li>


</template>

<script>
  export default {
    name: "MenuItem",
    props: {
      subMenuItems: Array,
      text: String,
      link: String,
      children: Array
    },
    data() {
      return {
        showSideMenu: false,
        showChildren: false,
      }
    },
    methods: {
      hideSubMenus() {
        this.showChildren = false
        this.showSideMenu = false
      },
      showSubMenus() {
        if (this.children) {
          this.showChildren = true
        }
        if (this.subMenuItems) {
          this.showSideMenu = true
        }
      }

    },
    mounted() {
    }
  }
</script>

<style scoped>
  .menu-item {
    font-size: 13px;
  }
  .menu-item:hover {
    background: #1C2A72;
  }
  .bg-blue-darken{
    background-color: #182567;

  }
  p > a {
    color: black!important;
  }
</style>