<template>
  <main class="bg-gray-100 w-full h-screen overflow-y-auto min-h-screen">
    <panel-header/>
    <router-view></router-view>
  </main>
</template>

<script>
  import PanelHeader from "./PanelHeader";
  export default {
    name: "PanelContent",
    components: {PanelHeader}
  }
</script>

<style scoped>

</style>