<template>
  <header class="w-full px-10 py-3 flex"
    :class="{
      'bg-white': $route.path === '/main',
      'justify-between': $route.path === '/main' ,
      'justify-end': $route.path !== '/main' ,
    }"
  >
    <go-back-button v-if="1===2"/>

    <div
      v-if="$route.path === '/main'"
      class="flex items-center">
      <img class="rounded-full h-12 w-12 bg-red-100 mr-5" src="@/assets/images/accountLogoFake.png" alt="rest_logo">
      <div class="mr-10">
        <p class="font-semibold">Ginza Project</p>
        <small>id: 777</small>
      </div>
      <span class="mr-10">
        <select class="rounded-full border-gray-300">
          <option>
            Telegram bot: https://t.me/ginzaproject_bot
          </option>
          <option>Пункт 2</option>
        </select>
      </span>
      <app-button
        :success="true"
      >
        <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.64652 5.94862H2.00345V4.27615C2.00345 2.73133 3.2603 1.47448 4.80512 1.47448C6.17927 1.47448 7.34127 2.45608 7.56805 3.80844C7.63539 4.21002 8.0157 4.48073 8.41705 4.41361C8.81863 4.34626 9.08957 3.96614 9.02222 3.5646C8.85685 2.5785 8.34513 1.67612 7.58132 1.02366C6.80858 0.363534 5.82263 0 4.80512 0C2.44724 0 0.528971 1.91827 0.528971 4.27615V6.01737C0.263085 6.11877 0 6.34765 0 6.80098V9.19488C0 11.8444 2.15558 14 4.80512 14C7.45466 14 9.6102 11.8444 9.6102 9.19488V6.80098C9.6102 6.12677 8.97986 5.94862 8.64652 5.94862ZM5.71842 11.1778C5.73346 11.2575 5.67942 11.3227 5.59832 11.3227H4.03002C3.94893 11.3227 3.89489 11.2575 3.90992 11.1778L4.1611 9.84653C3.96938 9.67169 3.84907 9.41989 3.84907 9.13999C3.84907 8.61198 4.27711 8.18394 4.80512 8.18394C5.33313 8.18394 5.76118 8.61198 5.76118 9.13999C5.76118 9.41229 5.64716 9.65779 5.46447 9.83193L5.71842 11.1778Z"
            fill="white"/>
        </svg>
        <span class="ml-3">Подключить все каналы продаж</span>
      </app-button>
    </div>

    <div class="flex items-center">
      <img class="rounded-full h-12 w-12 bg-red-100 mr-5" src="@/assets/images/userAvatar.png" alt="user_avatar">
      <span class="flex items-center text-blue-100 bg-gray-100 px-3 py-2 rounded-full cursor-pointer">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
           d="M16.9332 15.3948L15.7662 11.9984C16.3275 10.8637 16.6244 9.59895 16.6264 8.32638C16.6298 6.1349 15.7819 4.06275 14.2388 2.49168C12.6954 0.920338 10.6388 0.0358718 8.44794 0.00110809C7.30007 -0.0173197 6.18624 0.194185 5.13569 0.629047C4.12243 1.04847 3.21376 1.65605 2.43494 2.4349C1.65609 3.21372 1.04851 4.12239 0.629087 5.13565C0.194159 6.1862 -0.0171129 7.3006 0.00108245 8.4479C0.0357798 10.6388 0.920279 12.6954 2.49159 14.2387C4.05957 15.7788 6.1264 16.6264 8.31317 16.6264C8.31742 16.6264 8.32197 16.6264 8.32625 16.6264C9.59886 16.6244 10.8636 16.3276 11.9983 15.7662L15.3948 16.9333C15.5254 16.9782 15.6593 17 15.7917 17C16.1063 17 16.4123 16.8764 16.6443 16.6444C16.9741 16.3147 17.0848 15.8359 16.9332 15.3948ZM8.23135 13.0523C7.94883 13.0523 7.73961 12.8214 7.7274 12.5483C7.71521 12.2762 7.96775 12.0444 8.23135 12.0444C8.51388 12.0444 8.72309 12.2753 8.73531 12.5483C8.74753 12.8205 8.49495 13.0523 8.23135 13.0523ZM8.73531 9.20297V10.8053C8.73531 11.0836 8.50966 11.3093 8.23135 11.3093C7.95304 11.3093 7.7274 11.0836 7.7274 10.8053V8.74988C7.7274 8.47157 7.95304 8.24592 8.23135 8.24592C9.05811 8.24592 9.73077 7.57326 9.73077 6.7465C9.73077 5.91974 9.05811 5.24708 8.23135 5.24708C7.40459 5.24708 6.73193 5.91974 6.73193 6.7465C6.73193 7.02481 6.50628 7.25046 6.22797 7.25046C5.94966 7.25046 5.72402 7.02481 5.72402 6.7465C5.72402 5.36399 6.84881 4.23916 8.23135 4.23916C9.61387 4.23916 10.7387 5.36395 10.7387 6.7465C10.7387 7.95649 9.87717 8.96906 8.73531 9.20297Z"
           fill="#0091FF"/>
        </svg>
        <span class="ml-3">Помощь</span>
      </span>
    </div>
  </header>
</template>

<script>
	import GoBackButton from "./GoBackButton";
	import AppButton from "../shared/AppButton";

	export default {
		name: "PanelHeader",
		components: {AppButton, GoBackButton}
	}
</script>

<style scoped>
  .text-blue-100 {
    color: #0091FF;
  }
</style>