<template>
  <aside class="border flex flex-col h-screen w-42 xl:w-56 pb-12 overflow-y-auto
                scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-200">
    <div class="px-5 pt-5">
      <img @click="$emit('closeSidebar')"
           src="@/assets/images/dostavkinLogo.png" alt="dostavking-logo">
    </div>
    <nav class="mt-10">
      <ul>
        <menu-item text="Уведомления">
          <svg class="h-5" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 14C6.825 14 7.5 13.3 7.5 12.4444H4.5C4.5 12.857 4.65804 13.2527 4.93934 13.5444C5.22064 13.8361 5.60218 14 6 14ZM10.5 9.33333V6.61111C10.5 4.22333 9.27 2.22444 7.125 1.69556V1.16667C7.125 0.521111 6.6225 0 6 0C5.3775 0 4.875 0.521111 4.875 1.16667V1.69556C2.7225 2.22444 1.5 4.21556 1.5 6.61111V9.33333L0 10.8889V11.6667H12V10.8889L10.5 9.33333Z"
              fill="#93BFFF"/>
          </svg>
        </menu-item>
        <menu-item text="Сводка" link="/main">
          <svg class="h-5" width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.54431 0.249988C7.54431 0.111986 7.6563 0 7.79411 0C11.2102 0.0356317 13.9718 2.79719 14.0072 6.21331C14.0072 6.35131 13.8952 6.4633 13.7574 6.4633C13.7496 6.4633 13.7424 6.46131 13.7353 6.45932C13.7305 6.45801 13.7258 6.45669 13.7209 6.45594V6.4633H7.79411C7.6563 6.4633 7.54431 6.35131 7.54431 6.21331V0.286374H7.55166C7.55091 0.281404 7.54959 0.276646 7.54827 0.271905C7.54628 0.264776 7.54431 0.257688 7.54431 0.249988ZM12.3126 7.40214C12.4506 7.40214 12.5624 7.51413 12.5624 7.65213C12.5624 7.65439 12.561 7.65628 12.561 7.65873C12.5612 7.66636 12.5614 7.67395 12.5616 7.68151C12.562 7.69391 12.5624 7.70626 12.5624 7.71868C12.5624 11.1876 9.75009 13.9999 6.28118 13.9999C2.81227 13.9999 0 11.1876 0 7.71868C0 4.24977 2.81227 1.4375 6.28118 1.4375C6.29304 1.4375 6.30485 1.43793 6.31666 1.43836C6.327 1.43873 6.33734 1.43911 6.34773 1.4392V1.44089C6.35045 1.44072 6.35297 1.43997 6.35549 1.43922C6.35838 1.43836 6.36128 1.4375 6.36451 1.4375C6.50251 1.4375 6.6145 1.5493 6.6145 1.68749C6.6145 1.69519 6.61252 1.70228 6.61054 1.70941C6.60922 1.71415 6.6079 1.7189 6.60714 1.72387H6.6145V7.15215C6.6145 7.21842 6.64081 7.28198 6.68765 7.32885C6.73449 7.37573 6.79803 7.40209 6.8643 7.40214H12.3126Z"
                  fill="#93BFFF"/>
          </svg>

        </menu-item>
        <menu-item text="Чаты">
          <svg class="h-5" width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.83733 0H2.16267C0.970172 0 0 0.986468 0 2.19899V9.64173C0 10.8543 0.970172 11.8407 2.16267 11.8407H5.33832L9.16082 14V11.8407H9.83733C11.0298 11.8407 12 10.8543 12 9.64173V2.19899C12 0.986434 11.0298 0 9.83733 0ZM2.83223 3.16317H9.16082V4.17808H2.83223V3.16317ZM6.86393 8.64373H2.83223V7.62881H6.86393V8.64373ZM9.16777 6.41365H2.83223V5.39873H9.16777V6.41365Z"
              fill="#93BFFF"/>
          </svg>

        </menu-item>
        <menu-item text="Продажи">
          <svg class="h-5" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14 1.71861H3.675L3.37953 0H0.763406C0.341123 0 0 0.341757 0 0.763723V1.52713H2.09303L3.43976 9.3606C3.46957 9.53306 3.63537 9.67287 3.81069 9.67287H12.8546C13.2769 9.67287 13.6186 9.33143 13.6186 8.90851V8.14574H4.78016L4.59407 7.06341H11.582C12.4253 7.06341 13.2217 6.38877 13.3609 5.55752L14 1.71861Z"
              fill="#93BFFF"/>
            <path
              d="M6.1726 13.2528C6.90185 13.2528 7.49302 12.6616 7.49302 11.9324C7.49302 11.2031 6.90185 10.6119 6.1726 10.6119C5.44335 10.6119 4.85217 11.2031 4.85217 11.9324C4.85217 12.6616 5.44335 13.2528 6.1726 13.2528Z"
              fill="#93BFFF"/>
            <path
              d="M9.43542 11.9319C9.43542 12.6608 10.0261 13.2521 10.7549 13.2521C11.4844 13.2521 12.0763 12.6608 12.0763 11.9319C12.0763 11.2031 11.4844 10.6112 10.7549 10.6112C10.0261 10.6112 9.43542 11.2034 9.43542 11.9319Z"
              fill="#93BFFF"/>
          </svg>

        </menu-item>
        <menu-item
          :subMenuItems="[{link:'', name: 'Telegram бот'}, {link:'', name: 'Whatsapp бот'},{link:'', name: 'VK бот'}, {link:'/login', name: 'Сайт'}]"
          text="Маркетинг">
          <svg class="h-5" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.9667 1.58322C13.8993 1.4196 13.7392 1.31285 13.5624 1.31285H12.6875V0.437878C12.6875 0.261132 12.5807 0.101012 12.4171 0.0336386C12.2544 -0.0346095 12.0662 0.00301444 11.9402 0.128136L10.6278 1.4406C10.5464 1.52285 10.5 1.63397 10.5 1.75034V2.88169L5.8154 7.56543C5.64478 7.73605 5.64478 8.01342 5.8154 8.18404C5.90115 8.26979 6.01315 8.31266 6.12515 8.31266C6.23714 8.31266 6.34914 8.26979 6.43489 8.18492L11.1186 3.50029H12.25C12.3663 3.50029 12.4775 3.45392 12.5597 3.37255L13.8722 2.06008C13.9964 1.93409 14.0341 1.74684 13.9667 1.58322Z"
              fill="#93BFFF"/>
            <path
              d="M9.35206 6.52331L7.86022 8.02039C7.78585 8.91812 7.04212 9.6251 6.12515 9.6251C5.1583 9.6251 4.3752 8.842 4.3752 7.87515C4.3752 6.9398 5.11105 6.18207 6.03415 6.13395L7.50323 4.65961C7.07975 4.47762 6.61513 4.37524 6.12515 4.37524C4.19495 4.37524 2.62524 5.94495 2.62524 7.87515C2.62524 9.80535 4.19495 11.3751 6.12515 11.3751C8.05534 11.3751 9.62505 9.80535 9.62505 7.87515C9.62505 7.39566 9.52705 6.9398 9.35206 6.52331Z"
              fill="#93BFFF"/>
            <path
              d="M11.2849 4.58429L9.99522 5.87838C10.3067 6.47949 10.5001 7.15235 10.5001 7.87508C10.5001 10.2874 8.53751 12.25 6.1252 12.25C3.71289 12.25 1.75032 10.2874 1.75032 7.87508C1.75032 5.46277 3.71289 3.5002 6.1252 3.5002C6.85755 3.5002 7.53741 3.69794 8.14464 4.01731L9.43261 2.72497C8.47801 2.11073 7.34404 1.75024 6.1252 1.75024C2.74254 1.75024 0.000366211 4.49242 0.000366211 7.87508C0.000366211 11.2577 2.74254 13.9999 6.1252 13.9999C9.50786 13.9999 12.25 11.2577 12.25 7.87508C12.25 6.66236 11.893 5.53539 11.2849 4.58429Z"
              fill="#93BFFF"/>
          </svg>

        </menu-item>
        <menu-item text="Каналы продаж">
          <svg class="h-5" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.47269 4.52464C9.27473 4.32665 9.01091 4.21768 8.72984 4.2179C8.16035 4.21822 7.67995 4.6748 7.68011 5.26727C7.6802 5.54837 7.78923 5.81224 7.98716 6.01012C8.39679 6.41974 9.06257 6.42032 9.47138 6.01151C9.88166 5.6012 9.88226 4.93422 9.47269 4.52464Z"
              fill="#93BFFF"/>
            <path
              d="M14 0L13.5897 0.000382854C10.6543 0.00317222 7.77835 1.23867 5.69836 3.39058L1.62146 7.46745L6.52986 12.3758L10.6065 8.29917C11.6323 7.31054 12.4823 6.09142 13.0651 4.77353C14.1695 2.27552 13.976 0.256457 14 0ZM7.40805 6.58921C6.6783 5.85938 6.67849 4.67497 7.40671 3.94684C8.1367 3.21679 9.32119 3.21493 10.0518 3.9455C10.7806 4.67434 10.7801 5.861 10.0505 6.59061C9.3224 7.31866 8.13703 7.318 7.40805 6.58921Z"
              fill="#93BFFF"/>
            <path d="M0.017395 13.3982L2.14865 11.2669L2.72769 11.846L0.596432 13.9772L0.017395 13.3982Z"
                  fill="#93BFFF"/>
            <path d="M2.56348 13.1998L3.32696 12.4363L3.90598 13.0154L3.14249 13.7788L2.56348 13.1998Z" fill="#93BFFF"/>
            <path d="M0.215698 10.8523L0.974601 10.0934L1.55358 10.6724L0.794677 11.4313L0.215698 10.8523Z"
                  fill="#93BFFF"/>
            <path d="M10.6552 9.82782L10.4457 9.61829L7.10895 12.955L8.14908 13.9952L9.99782 12.1465L10.6552 9.82782Z"
                  fill="#93BFFF"/>
            <path d="M1.84891 3.99708L0 5.84601L1.04232 6.88841L4.37913 3.55157L4.1696 3.34204L1.84891 3.99708Z"
                  fill="#93BFFF"/>
            <path d="M0.953247 9.1324L4.86486 13.044L5.66653 12.6708L1.3265 8.33081L0.953247 9.1324Z" fill="#93BFFF"/>
          </svg>

        </menu-item>
        <menu-item
          :children="[{link:'', name: 'Блюда/товары'}, {link:'/categories', name:'Категории'}, {link:'/modifiers', name:'Модификаторы'}]"
          text="Меню/каталог">
          <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/>
          </svg>
        </menu-item>
        <menu-item
          text="Настройки">
          <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
        </menu-item>
        <menu-item text="Агрегатор аккаунтов">
          <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"/>
          </svg>
        </menu-item>
      </ul>
    </nav>
    <nav class="mt-auto">
      <ul>
        <menu-item
          :subMenuItems="[{link:'', name: 'Тарифы и оплата'}, {link:'', name: 'Настройки доступа'},{link:'', name: 'Сменить аккаунт'}, {link:'/login', name: 'Выйти'}]"
          text="Профиль">
          <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
          </svg>
        </menu-item>
        <menu-item text="Помощь">
          <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
        </menu-item>
      </ul>
    </nav>
  </aside>
</template>

<script>
	import MenuItem from "./MenuItem";

	export default {
		name: "Sidebar",
		components: {MenuItem},
		data() {
			return {
				MenuItems: ['Уведомления', 'Сводка', 'Чаты', "Продажи", "Маркетинг", "Каналы продаж", "Меню/Каталог", "Настройки", "Агрегатор аккаунтов"]
			}
		},


	}
</script>

<style scoped>
  aside {
    background: #212F7D;
    border: none !important;
    color: white !important;
  }
</style>