<template>
  <button
    @click="$emit('customClick')"
    class="flex items-center text-white py-2 px-3 rounded"
    :class="{
     'bg-blue-100': primary === true,
     'bg-gradient-to-r from-emerald-500 to-emerald-600': success === true,
     'rounded-full': pill === true,
     'bg-white text-blue-900 shadow-md': white === true,
  }"
  >
    <slot/>
  </button>
</template>

<script>
	export default {
		name: "AppButton",
		props: ['success', 'primary', 'pill', 'white']
	}
</script>

<style scoped>
  .text-blue-900 {
    color: #0C2556;
  }
  .bg-blue-100 {
    background: #0091FF;
  }
</style>