<template>
  <label class="">
    <input
      :checked="modelValue"
      class="checkbox"
      @change="$emit('update:modelValue', $event.target.checked)" type="checkbox">
    <span class="fake">

    </span>
  </label>
</template>

<script>
	export default {
		name: "AppCheckbox",
		props: ['modelValue'],
		emits: ['update:modelValue'],
	}
</script>

<style scoped>
  .checkbox {
    display: none;
  }
  .fake {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    position: relative;
  }
  .fake::before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    left: 50%;
    background-image: url("../../assets/images/doneImage.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    transition: .2s;
  }
  .checkbox:checked + .fake {
    border: 1px solid #FF6262;
  }
  .checkbox:checked + .fake::before {
    opacity: 1;
  }
</style>