<template>
  <svg class="cursor-pointer" width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="1.5" cy="7.5" r="1.5" fill="#C4C4C4"/>
    <circle cx="1.5" cy="1.5" r="1.5" fill="#C4C4C4"/>
    <circle cx="1.5" cy="13.5" r="1.5" fill="#C4C4C4"/>
    <circle cx="6.5" cy="7.5" r="1.5" fill="#C4C4C4"/>
    <circle cx="6.5" cy="1.5" r="1.5" fill="#C4C4C4"/>
    <circle cx="6.5" cy="13.5" r="1.5" fill="#C4C4C4"/>
  </svg>
</template>

<script>
	export default {
		name: "AppDraggableDots"
	}
</script>

<style scoped>

</style>