<template>
  <div>
    <p class="text-xs text-red-500" v-if="error.$validator === 'required'">{{t('errors.required')}}</p>
    <p class="text-xs text-red-500" v-if="error.$validator === 'email'">{{t('errors.email')}}</p>
    <p class="text-xs text-red-500" v-if="error.$validator === 'minLength'">{{t('errors.required')}}{{error.$params.min}}</p>
    <p class="text-xs text-red-500" v-if="error.$validator === 'sameAsPassword'">{{t('errors.pass')}}</p>
  </div>
</template>

<script>
  import {useI18n} from 'vue-i18n'
  export default {
    name: "FormError",
    props: ['error'],
    setup() {
      let {t} = useI18n()
      return {t}
    }
  }
</script>

<style scoped>

</style>