<template>
  <div class="w-full h-full flex items-center justify-center p-10">
    <div class="loader bg-blue-400 p-5 rounded-full flex space-x-3">
      <div class="w-3 h-3 bg-white rounded-full animate-bounce"></div>
      <div class="w-3 h-3 bg-white rounded-full animate-bounce"></div>
      <div class="w-3 h-3 bg-white rounded-full animate-bounce"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Loader"
  }
</script>

<style scoped>

</style>