<template>
  <div class="px-10">
    <div class="flex justify-between mt-5">
      <h1 class="font-bold text-2xl">Категории</h1>
      <app-button
        :primary="true"
      >
        &#43; Добавить категорию
      </app-button>
    </div>

    <section class="mt-9">
      <div class="flex justify-between mb-2">
        <p class="text-xs font-thin">Название категории</p>
        <div class="flex">
          <p class="text-xs font-thin mr-10">Видимость</p>
          <p class="text-xs font-thin">Удалить</p>
        </div>
      </div>


      <app-accordion :categories="categories"/>


      <p class="mt-5 text-xs">
        Если в категории не будет товаров, то категория не будет отображена в чат-боте
      </p>
      <p class=" text-xs">
        * Товары отображаются только в "крайних" категориях! То есть, в категориях, у которых нету подкатегорий!
      </p>
    </section>

  </div>
</template>

<script>
	import Loader from "../../components/shared/Loader";
	import AppAccordion from "../../components/panel/AppAccordion";
	import draggable from 'vuedraggable'
	import AppButton from "../../components/shared/AppButton";

	export default {
		name: "Categories",
		components: {AppButton, AppAccordion},
		data() {
			return {
				categories: [
					{
						id: 1, name: 'cat1', show: true,
						children: [
							{id: 10, name: 'cat1-1', show: true, children: []},
							{id: 11, name: 'cat1-2', show: true, children: []},
							{id: 12, name: 'cat1-3', show: true, children: []},
							{id: 12, name: 'cat1-3', show: true, children: []},
						]
					},
					{
						id: 1, name: 'cat2', show: false,
						children: [
							{id: 40, name: 'cat2-1', show: true, children: []},
						]
					},
					{
						id: 1, name: 'cat3', show: true,
						children: []
					},
				]
			}
		}
	}
</script>

<style scoped>
  .dragArea {
    min-height: 50px;
    outline: 1px dashed;
  }

  .text-2xl {
    font-weight: 600;
    font-size: 30px;
  }

  .bg-blue-800 {
    background: #0091FF !important;
  }
</style>