<template>
  <div class="px-10 mt-10 w-full flex flex-col">

    <section
      v-if="showHelper"
      class="flex w-full bg-blue-100 rounded-lg mb-10 p-5 divide-x divide-gray-300">
      <div class="w-3/5">
        <div class="header w-full flex justify-between mb-3">
          <div class="w-1/2">
            <p class="font-semibold mb-5">Чек лист по работе с DostavkinBot</p>
            <p class="text-sm">Следуйте нашим советам, чтобы настроить чат-бота для вашего заведения</p>
          </div>
          <div class="mr-5">
            <app-circle-progress
              :linebgcolor="'#00BA8F'"
              :linecolor="'#00BA8F'" :prg="procentage"/>
          </div>
        </div>

        <div class="body">
          <span></span>
          <div
            @click="todo.done = !todo.done"
            class="flex py-2 cursor-pointer"
            v-for="(todo, idx) in todos" :key="idx">
            <svg v-if="todo.done" class="h-5" width="23" height="22" viewBox="0 0 23 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.2865 0C5.19324 0 0.234741 4.93452 0.234741 10.9983C0.234741 17.0655 5.19324 21.9966 11.2865 21.9966C17.3797 21.9966 22.3382 17.0621 22.3382 10.9983C22.3417 4.93452 17.3832 0 11.2865 0Z"
                fill="#00BA8F"/>
              <path
                d="M16.1213 6.74475L9.99018 12.5553L6.48276 9.06486L4.80127 10.7074L9.13396 15.0191C9.37122 15.2552 9.66351 15.3716 9.95923 15.3716C10.255 15.3716 10.5472 15.2552 10.7845 15.0499L17.7718 8.4489L16.1213 6.74475Z"
                fill="white"/>
            </svg>

            <svg v-if="!todo.done" class="h-5" width="22" height="22" viewBox="0 0 22 22" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.9983 0C4.93451 0 0 4.93452 0 10.9983C0 17.0655 4.93451 21.9966 10.9983 21.9966C17.0621 21.9966 21.9966 17.0621 21.9966 10.9983C22 4.93452 17.0655 0 10.9983 0Z"
                fill="#E6EAF0"/>
              <path
                d="M15.8096 6.74475L9.70822 12.5553L6.21779 9.06486L4.54443 10.7074L8.85614 15.0191C9.09226 15.2552 9.38313 15.3716 9.67742 15.3716C9.97171 15.3716 10.2626 15.2552 10.4987 15.0499L17.4522 8.4489L15.8096 6.74475Z"
                fill="white"/>
            </svg>
            <span class="text-sm ml-1 font-medium"
                  :class="{
                    'done': todo.done,
                  }"
            >{{ todo.text }}
            </span>
          </div>
        </div>

        <div class="footer">
          <span class=" text-xs">Я разберусь самостоятельно. </span>
          <span
            @click="showHelper = !showHelper"
            class="text-blue-500 text-xs cursor-pointer">Скрыть советы по настройке</span>
        </div>

      </div>
      <div class="w-2/5">
        <div class="header flex pl-5 mb-5 justify-between">
          <p class="font-semibold w-4/5">Посмотрите видео об основных возможностях личного кабинета DostavkinBot</p>
          <p
            @click="showHelper = !showHelper"
            class="font-bold text-2xl text-gray-400 cursor-pointer">&#10006;</p>
        </div>
        <div class="body pl-5">
          <iframe class="rounded-lg w-full" height="315" src="https://www.youtube.com/embed/1YbT4XCAqKc?controls=0"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <section class="flex mb-10">
      <app-stitastic-card
        :heading="'Показатели'"
        :items="card1"
        class="mr-6"/>
      <app-stitastic-card
        :heading="'Состояние системы'"
        :items="card2"
        class="mr-6"/>
      <app-stitastic-card
        :heading="'Мои заказы'"
        :items="card3"/>
    </section>

  </div>
</template>

<script>
	import AppStitasticCard from "../../components/panel/AppStitasticCard";
	import AppCircleProgress from "../../components/panel/AppCircleProgress";

	export default {
		name: "Dashboard",
		components: {AppCircleProgress, AppStitasticCard},
		data() {
			return {
				showHelper: true,
				todos: [
					{text: 'Создайте аккаунт', done: true},
					{text: 'Добавьте иформацию о заведении', done: true},
					{text: 'Добавьте свое меню', done: false},
					{text: 'Проверьте региональные настройки', done: false},
					{text: 'Выберите способ доставки', done: false},
					{text: 'Настройте прием платежей', done: false},
					{text: 'Выюерите канал продаж и подключите чат-бота', done: false},
				],
				card1: [
					{key: 'Пользователей в чат-боте', value: 287},
					{key: 'Количество товаров', value: 287},
					{key: 'Количество филиалов', value: 287},
					{key: 'Всего рассылок', value: 287},
				],
				card2: [
					{key: 'Статус работы', value: 287},
					{key: 'Лицензия', value: 287},
					{key: 'Никнейм чат-бота', value: 287},
				],
				card3: [
					{key: 'Открытых заказов', value: 287},
					{key: 'Закрытых заказов', value: 287},
				],
			}
		},
		computed: {
			procentage() {
				let done = this.todos.reduce((acc, current) => {
					if (current.done === true) {
						return acc + 1
					} else return acc
				}, 0)
				return Math.ceil(100 / this.todos.length * done)
			}
		}
	}
</script>

<style scoped>
  .done {
    @apply text-gray-500 line-through;
  }
</style>