<template>
  <div class="px-10">
    <div class="flex justify-between mt-5 items-center">
      <h1 class="font-bold text-2xl">Модификаторы</h1>

      <div class="flex">
        <app-button
          class="mr-5"
          :primary="true"
        >
          &#43; Добавить группу модификаторов
        </app-button>
        <app-button
          :primary="true"
        >
          &#43; Добавить модификатор
        </app-button>
      </div>

    </div>

    <section class="mt-9">
      <table class="w-full table-fixed">
        <thead>
        <tr>
          <th class="w-4/12">Название модификатора</th>
          <th>Стоимость</th>
          <th>Минимум</th>
          <th>По умолчанию</th>
          <th>Максимум</th>
          <th>Обязательный</th>
          <th>Видимость</th>
          <th>Удалить</th>
        </tr>
        </thead>
      </table>


      <draggable
        v-model="modifiers"
        :group="{ name: 'modifiers' }"
        item-key="id"
      >
        <template
          #item="{element}">
          <modifier
            :modifier="element"
          />
        </template>
      </draggable>

    </section>

  </div>

</template>

<script>
	import AppButton from "../../components/shared/AppButton";
	import Modifier from "../../components/panel/Modifiers/Modifier";
	import draggable from 'vuedraggable'


	export default {
		name: "Modifiers",
		components: {Modifier, AppButton, draggable},
		data() {
			return {
				modifierOpen: true
			}
		},
		computed: {
			modifiers: {
				get() {
					return this.$store.state.modifiers.modifiers
				},
				set(value) {
					this.$store.commit('setModifiers', value)
				}
			}
		}
	}
</script>

<style scoped>
  th {
    @apply font-light text-xs text-left;
    font-size: 12px !important;
  }
</style>