<template>
  <div class="px-10">
    <div class="mb-5 flex justify-between items-center">
      <p class="text-2xl font-semibold">ОБРАЗЕЦ. Сырники с клублничным вареньем</p>
      <div>
        <button class="mr-2 bg-white p-3 rounded-md shadow-md">
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.76499 0.573642C7.71818 0.460849 7.64959 0.358397 7.56313 0.272156C7.47689 0.185696 7.37444 0.1171 7.26164 0.0702967C7.14885 0.0234923 7.02793 -0.000599465 6.90581 -0.000599476C6.78369 -0.000599486 6.66278 0.0234922 6.54998 0.0702966C6.43719 0.1171 6.33474 0.185696 6.2485 0.272156L0.678026 5.84263C0.591567 5.92887 0.522971 6.03132 0.476167 6.14411C0.429363 6.25691 0.405271 6.37782 0.405271 6.49994C0.405271 6.62206 0.429363 6.74298 0.476167 6.85577C0.522971 6.96857 0.591567 7.07102 0.678026 7.15726L6.2485 12.7277C6.33482 12.8141 6.43729 12.8825 6.55007 12.9292C6.66286 12.976 6.78374 13 6.90581 13C7.02789 13 7.14877 12.976 7.26155 12.9292C7.37433 12.8825 7.47681 12.8141 7.56313 12.7277C7.64945 12.6414 7.71792 12.5389 7.76464 12.4262C7.81135 12.3134 7.8354 12.1925 7.8354 12.0704C7.8354 11.9483 7.81135 11.8275 7.76464 11.7147C7.71792 11.6019 7.64945 11.4994 7.56313 11.4131L3.57688 7.42835L12.4764 7.42835C12.7226 7.42835 12.9587 7.33054 13.1329 7.15643C13.307 6.98232 13.4048 6.74617 13.4048 6.49994C13.4048 6.25371 13.307 6.01756 13.1329 5.84345C12.9587 5.66934 12.7226 5.57153 12.4764 5.57153L3.57688 5.57153L7.56313 1.58679C7.64959 1.50055 7.71818 1.39809 7.76499 1.2853C7.81179 1.17251 7.83588 1.05159 7.83588 0.929471C7.83588 0.807353 7.81179 0.686435 7.76499 0.573642Z" fill="#D5DAE2"/>
          </svg>
        </button>
        <button class="bg-white p-3 rounded-md shadow-md">
          <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.23501 12.4264C6.28182 12.5392 6.35041 12.6416 6.43687 12.7278C6.52311 12.8143 6.62557 12.8829 6.73836 12.9297C6.85115 12.9765 6.97207 13.0006 7.09419 13.0006C7.21631 13.0006 7.33722 12.9765 7.45002 12.9297C7.56281 12.8829 7.66526 12.8143 7.7515 12.7278L13.322 7.15737C13.4084 7.07113 13.477 6.96868 13.5238 6.85589C13.5706 6.74309 13.5947 6.62217 13.5947 6.50006C13.5947 6.37794 13.5706 6.25702 13.5238 6.14423C13.477 6.03143 13.4084 5.92898 13.322 5.84274L7.7515 0.272269C7.66518 0.185949 7.56271 0.117477 7.44993 0.0707605C7.33714 0.0240445 7.21626 0 7.09419 0C6.97211 0 6.85123 0.0240445 6.73845 0.0707605C6.62567 0.117476 6.52319 0.185949 6.43687 0.272269C6.35055 0.358589 6.28208 0.461066 6.23536 0.573848C6.18865 0.68663 6.1646 0.80751 6.1646 0.929585C6.1646 1.05166 6.18865 1.17254 6.23536 1.28532C6.28208 1.3981 6.35055 1.50058 6.43687 1.5869L10.4231 5.57165H1.52363C1.2774 5.57165 1.04125 5.66946 0.867141 5.84357C0.69303 6.01768 0.595215 6.25383 0.595215 6.50006C0.595215 6.74629 0.69303 6.98244 0.867141 7.15655C1.04125 7.33066 1.2774 7.42847 1.52363 7.42847H10.4231L6.43687 11.4132C6.35041 11.4995 6.28182 11.6019 6.23501 11.7147C6.18821 11.8275 6.16412 11.9484 6.16412 12.0705C6.16412 12.1926 6.18821 12.3136 6.23501 12.4264Z" fill="#0091FF"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="bg-white rounded-md p-7 mb-10 shadow-lg">

      <div class="flex">

        <div class="w-9/12 mr-10">
          <div class="">
            <label for="product-name">Название товара</label>
            <input
              class="rounded w-full"
              id="product-name"
              type="text"
              placeholder="Название товара">
            <span class="block mt-2 text-blue-400 text-sm flex">
              <svg class="mr-2" width="19" height="19" viewBox="0 0 19 19" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
              <circle cx="9.5" cy="9.5" r="9.5" fill="#EBF3FA"/>
              <path
                d="M9.49358 7.28C9.23758 7.28 9.01358 7.188 8.82158 7.004C8.63758 6.812 8.54558 6.588 8.54558 6.332C8.54558 6.076 8.63758 5.852 8.82158 5.66C9.01358 5.468 9.23758 5.372 9.49358 5.372C9.75758 5.372 9.98158 5.468 10.1656 5.66C10.3576 5.852 10.4536 6.076 10.4536 6.332C10.4536 6.588 10.3576 6.812 10.1656 7.004C9.98158 7.188 9.75758 7.28 9.49358 7.28ZM8.72558 14V8H10.2736V14H8.72558Z"
                fill="#0091FF"/>
              </svg>
              После выбора товара в чат-боте, пользователь получит описание и изображение
            </span>
          </div>

          <div class="flex mt-5">
            <div class="w-4/12 cursor-pointer">
              <label for="image">Фото <small class="text-xs font-light">(Не обязательно)</small></label>
              <div
                class="relative h-48 rounded-lg border-dashed border-4 border-blue-400 flex justify-center items-center">
                <div class="absolute">
                  <div class="flex flex-col items-center">
                    <i class="fa fa-folder-open fa-4x text-blue-700"></i>
                    <span class="block text-blue-400 font-normal text-center font-semibold">
                      Загрузить <br> изображение
                    </span>
                  </div>
                </div>
                <input type="file" class="h-full w-full opacity-0" id="image">
              </div>
            </div>

            <div class="ml-5 w-full">
              <label
                for="desciprion">Описание</label>
              <textarea

                class="w-full rounded-md h-48"
                id="desciprion">
                ОБРАЗЕЦ ОПИСАНИЯ. Классические сырники с яркой творожной текстурой и легкой кислинкой. Приезжают полностью готовые, хранятся в морозилке до 180 дней, разогреваются за 3-5 минут. КБЖУ: 180,64 ккал; белки 15,7; жиры 9,91; углеводы 17,2
              </textarea>
            </div>
          </div>

          <div class="flex mt-10">
            <div class="w-1/2 mr-5">
              <label
                for="iiko">Идентификатор iiko</label>
              <input class="w-full rounded" id="iiko" type="text">
            </div>
            <div class="w-1/2">
              <label
                for="code">Артикул</label>
              <input class="w-full rounded" id="code" type="text">
            </div>
          </div>

          <div class="flex mt-10">
            <div class="w-1/3 mr-5">
              <label for="">Вес, г</label>
              <input class="w-full" type="text">
            </div>
            <div class="w-1/3 mr-5">
              <label for="">Лимит товара на день</label>
              <input class="w-full" type="text">
            </div>
            <div class="w-1/3">
              <label for="">Текущее кол-во заказов товара</label>
              <input class="w-full" type="text">
            </div>
          </div>
        </div>

        <div class="w-3/12">
          <div class="bg-blue-100 px-3 pb-7 pt-5 rounded-md">
            <label for="price">Цена</label>
            <input class="inline w-full" id="price" type="text" placeholder="Цена"/>
          </div>

          <div class="px-3 py-5 bg-gray-100 mt-12 rounded-md">
            <p class="font-semibold">Категории</p>
            <div>
              <div
                class="px-5 py-2 hover:bg-gray-300"
                :class="{
                  'flex items-center justify-between' : !cat?.children
                }"
                v-for="(cat, idx) in categories" :key="idx">
                <span>
                  {{ cat.name }}
                </span>

                <div v-if="cat.children">
                  <div
                    class="flex justify-between py-2"
                    v-for="(child, idx) in cat.children" :key="idx">
                    <span class="pl-5">{{ child.name }}</span>
                    <span><app-checkbox class="bg-white"/></span>
                  </div>
                </div>
                <span v-if="!cat?.children"><app-checkbox class="bg-white"/></span>
              </div>
            </div>
          </div>

          <div class="text-xs mt-5 text-gray-500">
            <p>Внимание, если товар будет принадлежать категории, у которой есть подкатегории, то товар не будет
              отображен в чат-боте!</p>
            <br>
            <p>Обозначенные * (звёздочкой) категории имеют подкатегории и данные товары не будут отображены!</p>
          </div>
        </div>
      </div>

      <div class="border-t border-gray-400 mt-10 pt-5 flex">
        <div class="w-9/12 mr-10 flex items-center">
          <button class="p-2 mr-5 flex items-center">
            <svg class="mr-2" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3.46 8.88L4.87 7.47L7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z"
              fill="black"/>
            </svg>
            Удалить товар
          </button>
          <button class="p-2 mr-5 flex items-center">
            <svg class="mr-2" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.50016 6.66663H5.8335V9.16663H3.3335V10.8333H5.8335V13.3333H7.50016V10.8333H10.0002V9.16663H7.50016V6.66663Z"
                  fill="black"/>
            <path
              d="M1.66667 16.6667H11.6667C12.5858 16.6667 13.3333 15.9192 13.3333 15V5.00004C13.3333 4.08087 12.5858 3.33337 11.6667 3.33337H1.66667C0.7475 3.33337 0 4.08087 0 5.00004V15C0 15.9192 0.7475 16.6667 1.66667 16.6667ZM1.66667 5.00004H11.6667L11.6683 15H1.66667V5.00004Z"
              fill="black"/>
            <path d="M15 0H5V1.66667H15V11.6667H16.6667V1.66667C16.6667 0.7475 15.9192 0 15 0Z" fill="black"/>
            </svg>

            Дублировать товар
          </button>
          <button class="p-2 mr-5 flex items-center">
            <app-checkbox class="m-0"/>
            <span class="ml-1 ">Продукт опубликован</span>
          </button>
        </div>

        <div class="w-3/12">
          <app-button
            class="h-12 w-full flex justify-center"
            :success="true">
            Сохранить
          </app-button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
	import AppButton from "../../components/shared/AppButton";
	import AppCheckbox from "../../components/shared/AppCheckbox";

	export default {
		name: "NewProduct",
		components: {AppCheckbox, AppButton},
		data() {
			return {
				categories: [
					{id: 1, name: 'Без категории'},
					{id: 2, name: 'Десерты'},
					{id: 3, name: 'Завтраки'},
					{id: 4, name: 'Основные блюда'},
					{
						id: 5, name: 'Напитки*', children: [
							{id: 6, name: 'Горячие'},
							{id: 7, name: 'Холодные'},
						]
					},
				]
			}
		}
	}
</script>

<style scoped>
  .bg-gray-100 {
    background: #F8F9FB !important;
  }

  .bg-blue-100 {
    background: #F2F7FF !important;
  }

  .text-blue-400 {
    color: #0091FF !important;
  }

  label {
    @apply block mb-2 font-semibold;
  }

  input, textarea {
    resize: none;
    @apply rounded border-gray-400 focus:border-blue-300 text-gray-900 text-opacity-60;
  }

  .text-samll {
    font-size: 11px;
  }
</style>