<template>
  <div class="px-10">

    <p class="text-3xl">Блюда/товары</p>

    <div class="flex justify-between mt-5">

      <input class="rounded w-3/5 border-gray-300 text-gray-500"
             type="text"
             placeholder="Введите запрос">

      <div class="flex">
        <app-button
          class="mr-5"
          :primary="true"
        >
          &#43; Добавить блюдо/товар
        </app-button>
        <app-button
          :white="true"
        >
          Импортировать меню
        </app-button>
      </div>

    </div>

    <section class="flex mt-10">
      <div class="w-1/6">
        <p class="font-semibold mb-3">Категории + </p>
        <app-category-list-item
          v-for="(cat, idx) in categories" :key="idx"
          :category="cat"
        >
        </app-category-list-item>
      </div>

      <div class="w-5/6 pl-5">
        <table class="table-fixed w-full">
          <thead>
          <tr class="border-b border-blue-100">
            <th class="w-1"></th>
            <th class=""></th>
            <th class="w-auto">Фото</th>
            <th class="">Название</th>
            <th class="">Цена</th>
            <th class="">Дубл.</th>
            <th class="">Видимость</th>
            <th class="">Удалить</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td><input type="checkbox"></td>
              <td>Фото</td>
              <td>Образец ЧИЗКЕЙК НЬЮ ЙОРК</td>
              <td>180</td>
              <td>ИК</td>
              <td><app-switch/></td>
              <td>удалить</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</template>

<script>
	import AppButton from "../../components/shared/AppButton";
	import AppCategoryListItem from "../../components/panel/Products/AppCategoryListItem";
	import AppSwitch from "../../components/shared/AppSwitch";

	export default {
		name: "Products",
		components: {
			AppSwitch,
			AppCategoryListItem,
			AppButton
		},
		data() {
			return {
			}
		},
    computed: {
			categories() {
				return this.$store.state.products.categories
      }
    }
	}
</script>

<style scoped>

</style>