<template>
  <table
    class="w-full modifiers-table table-fixed">
    <thead>
    <tr>
      <th class="w-4/12"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody class="divide-y divide-gray-300">
    <tr class="bg-white border-t border-b border-gray-300">
      <td class="flex items-center ">
        <app-draggable-dots class="mx-3"/>
        <svg
          @click="modifierOpen = !modifierOpen"
          v-if="mod.children.length"
          :class="{
            'transform rotate-90': modifierOpen
          }"
          class="mr-3 cursor-pointer"
          width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.81367 10.3215L7.2222 6.05564C7.30933 5.98688 7.37927 5.90159 7.42722 5.80561C7.47517 5.70963 7.5 5.60524 7.5 5.4996C7.5 5.39396 7.47517 5.28957 7.42722 5.19359C7.37927 5.09761 7.30933 5.01231 7.2222 4.94355L1.81367 0.677679C1.29742 0.270563 0.5 0.608097 0.5 1.23373L0.5 9.76669C0.5 10.3923 1.29742 10.7299 1.81367 10.3215Z"
            fill="#2F80ED"/>
        </svg>
        <span class="font-semibold">
            {{ mod.name }}
            </span>
      </td>
      <td class="">{{ mod.price }}</td>
      <td class="">{{ mod.min }}</td>
      <td class="">{{ mod.default }}</td>
      <td class="">{{ mod.max }}</td>
      <td class="">
        <app-checkbox v-model="mod.required"/>
      </td>
      <td class="">
        <app-switch :checked="mod.visible"/>
      </td>
      <td class="">
        <svg class="h-5" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3.46 8.88L4.87 7.47L7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z" fill="black"/>
        </svg>
      </td>
    </tr>
    <template v-if="modifierOpen">
      <tr
        :key="idx"
        v-for="(child, idx) in mod.children"
        class="h-10 ml-10 child"
      >
        <td class="flex items-center">
          <svg class="h-5" width="14" height="16" viewBox="0 0 14 16" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.24 12L8.90703 15.136C8.85923 15.181 8.82077 15.2351 8.79385 15.295C8.76692 15.3549 8.75206 15.4195 8.75011 15.4851C8.74816 15.5508 8.75916 15.6162 8.78248 15.6776C8.8058 15.739 8.84099 15.7952 8.88603 15.843C8.93108 15.8908 8.98509 15.9293 9.045 15.9562C9.10491 15.9831 9.16953 15.998 9.23518 15.9999C9.30083 16.0019 9.36623 15.9909 9.42763 15.9676C9.48903 15.9442 9.54523 15.909 9.59303 15.864L13.843 11.864C13.8927 11.8173 13.9322 11.7608 13.9593 11.6982C13.9863 11.6357 14.0002 11.5682 14.0002 11.5C14.0002 11.4318 13.9863 11.3643 13.9593 11.3018C13.9322 11.2392 13.8927 11.1827 13.843 11.136L9.59303 7.136C9.54523 7.09096 9.48903 7.05577 9.42763 7.03245C9.36623 7.00913 9.30083 6.99813 9.23518 7.00008C9.16953 7.00203 9.10491 7.01689 9.045 7.04381C8.98509 7.07074 8.93108 7.1092 8.88603 7.157C8.84099 7.2048 8.8058 7.26101 8.78248 7.32241C8.75916 7.38381 8.74816 7.4492 8.75011 7.51485C8.75206 7.5805 8.76692 7.64512 8.79385 7.70503C8.82077 7.76494 8.85923 7.81895 8.90703 7.864L12.24 11H3.00003C2.4696 11 1.96089 10.7893 1.58582 10.4142C1.21075 10.0391 1.00003 9.53043 1.00003 9V0.5C1.00003 0.367392 0.947354 0.240214 0.853586 0.146446C0.759818 0.052678 0.632641 0 0.500032 0C0.367424 0 0.240247 0.052678 0.146479 0.146446C0.0527105 0.240214 3.24249e-05 0.367392 3.24249e-05 0.5V9C3.24249e-05 9.79565 0.316103 10.5587 0.878712 11.1213C1.44132 11.6839 2.20438 12 3.00003 12H12.24Z"
              fill="#D6D6D6"/>
          </svg>
          <span class="ml-2">
              {{ child.name }}
              </span>
        </td>
        <td>{{ child.price }}</td>
        <td>{{ child.min }}</td>
        <td>{{ child.default }}</td>
        <td>{{ child.max }}</td>
        <td>
          <app-checkbox v-model="child.required"/>
        </td>
        <td>
          <app-switch :checked="child.visible"/>
        </td>
        <td>
          <svg class="h-4" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3.46 8.88L4.87 7.47L7 9.59L9.12 7.47L10.53 8.88L8.41 11L10.53 13.12L9.12 14.53L7 12.41L4.88 14.53L3.47 13.12L5.59 11L3.46 8.88ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z" fill="black"/>
          </svg>
        </td>
      </tr>

    </template>
    </tbody>
  </table>

</template>

<script>
	import AppDraggableDots from "../../shared/AppDraggableDots";
	import AppSwitch from "../../shared/AppSwitch";
	import AppCheckbox from "../../shared/AppCheckbox";
	export default {
		name: "Modifier",
		components: {AppCheckbox, AppSwitch, AppDraggableDots},
		props: {
			modifier: {
				type: Object,
        required: true
      }
    },
    data() {
			return {
				modifierOpen: false,
        mod: this.modifier
      }
    }
	}
</script>

<style scoped>
  th {
    @apply font-light text-xs text-left;
    font-size: 12px !important;
  }

  .modifiers-table th {
    /*visibility: hidden;*/
  }

  td {
    @apply py-3;
  }
  .child > td{
    font-size: 14px;
  }
</style>