<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
  import AuthLayout from "./layouts/AuthLayout";
  import PanelLayout from "./layouts/PanelLayout";
  import {onMounted} from 'vue'
  import {useI18n} from 'vue-i18n';

  export default {
    name: 'App',
    components: {
      AuthLayout, PanelLayout
    },
    setup() {
      onMounted(() => {
        let {locale} = useI18n()
        let userLang = navigator.languages[1]
        locale.value = userLang
      })
    },
    data: () => ({
      //
    }),
    computed: {
      layout() {
        return (this.$route.meta.layout || 'auth-layout')
      }
    }
  };
</script>

<style >
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
  * {
    font-family: 'Lato', sans-serif!important;
  }
</style>
