<template>
  <div class="wrapper bg-cover lg:bg-contain min-h-screen bg-gray-50 flex flex-col justify-center sm:pt-12">
    <header class="w-full absolute top-0 pt-8 md:pl-8 flex justify-center md:block">
      <img src="../assets/images/dostavkinLogo.png" alt="">
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: "AuthLayout"
  }
</script>

<style scoped>
  .wrapper {
    background-image: url("../assets/images/authbg.png");
    background-repeat: no-repeat;
    background-position-x: right;
  }
</style>