<template>
  <div class="flex w-screen relative h-auto overflow-y-auto">
    <sidebar v-if="sibebarOpen" @closeSidebar="sibebarOpen = !sibebarOpen"/>
    <panel-content/>
  </div>
</template>

<script>
  import Sidebar from "../components/panel/Sidebar";
  import PanelContent from "../components/panel/PanelContent";

  export default {
    name: "PanelLayout",
    components: {PanelContent, Sidebar},
    data() {
      return {
        sibebarOpen: true
      }
    }
  }
</script>

<style scoped>
</style>