<template>
  <reset-form/>
</template>


<script>
  import ResetForm from "../../components/auth/ResetForm";
  export default {
    name: "PasswordReset",
    components: {ResetForm}
  }
</script>

<style scoped>

</style>