<template>
  <register-form/>
</template>

<script>
  import RegisterForm from "../../components/auth/RegisterForm";
  export default {
    name: "Register",
    components: {RegisterForm}
  }
</script>

<style scoped>

</style>