<template>
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
        <div class="bg-white shadow w-full rounded-sm divide-y divide-gray-200">
            <div class="px-8 py-7">
                <p class="mb-4 font-semibold text-lg">{{ t("message.authorization") }}</p>
                <label class="font-semibold text-sm text-gray-600 pb-1 block">{{ t("message.email") }}</label>
                <form-error v-for="(error,index) in vv.email.$errors" :error="error" :key="index"/>
                <input v-model="vv.email.$model"
                       type="text" class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
                       :class="{'border-red-500': vv.email.$error}"/>
                <label class="font-semibold text-sm text-gray-600 pb-1 block">{{ t("message.password") }}</label>
                <form-error v-for="(error,index) in vv.password.$errors" :error="error" :key="index"/>
                <input v-model="vv.password.$model"
                       type="text" class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
                       :class="{'border-red-500': vv.password.$error}"/>
                <button @click="onSubmit"
                        type="button"
                        class="transition duration-200 bg-blue-400 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-sm text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                    <span class="inline-block mr-2">{{ t("message.login") }}</span>
                </button>
                <div class="flex justify-between">
                    <router-link to="/reset" class="text-sm font-light block mt-4">{{ t("message.forgotPassword") }}</router-link>
                    <router-link to="/register" class="text-sm font-light block mt-4">{{ t("message.noAccount") }}</router-link>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {reactive, getCurrentInstance} from "vue";
    import {email, required} from "@vuelidate/validators";
    import useVuelidate from "@vuelidate/core";
    import {toRef} from "@vue/reactivity";
    import FormError from "../shared/FormError";
    import {useI18n,} from 'vue-i18n';

    export default {
        name: "LoginForm",
        components: {FormError},
        setup: () => {
            let {t, locale} = useI18n()
            const step = reactive(1)
            const fform = reactive({
                email: '',
                password: ''
            });
            const rules = {
                email: {required, email},
                password: {required},
            };
            const vv = useVuelidate(rules, {
                email: toRef(fform, "email"),
                password: toRef(fform, "password"),
            });
            const onSubmit = () => {
                vv.value.$touch();

                if (vv.value.$invalid) {
                    console.log(vv.value.email.$errors)
                    return
                }
                alert('login request')
            };
            return {
                t,
                step,
                onSubmit,
                vv,
            };
        },

    }
</script>

<style scoped>

</style>