<template>
  <div class="px-10 py-12 md:py-0 md:w-full my-10 flex justify-center md:justify-start">
    <div class="bg-white form-shadow rounded-xl w-full md:w-2/5">
      <div v-if="step === 1" class="px-8 py-7">
        <p class="mb-4 font-semibold text-lg">Регистрация аккаунта</p>
        <label class="font-semibold text-sm text-gray-600 pb-1 block">Ваше имя</label>
        <form-error v-for="(error, index) in vv.name.$errors" :key="index" :error="error"/>
        <input v-model="vv.name.$model"
               type="text"
               class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
               :class="{'border-red-500 focus:border-red-500 focus:outline-none': vv.name.$error}"/>
        <label class="font-semibold text-sm text-gray-600 pb-1 block">Номер для связи</label>
        <div :key="index" v-for="(error,index) in vv.phone.$errors">
          <p class="text-red-500 text-sm" v-if="error.$validator === 'required'">Это поле обязательно для заполнения</p>
        </div>
        <input v-model="vv.phone.$model"
               v-maska="'# (###) ###-##-##'"
               type="text"
               class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
               :class="{'border-red-500 focus:border-red-500 focus:outline-none': vv.phone.$error}"/>

        <label class="font-semibold text-sm text-gray-600 pb-1 block">Электронная почта</label>
        <form-error v-for="(error, index) in vv.email.$errors" :key="index" :error="error"/>
        <input v-model="vv.email.$model"
               type="text"
               class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
               :class="{'border-red-500 focus:border-red-500 focus:outline-none': vv.email.$error}"/>

        <label class="font-semibold text-sm text-gray-600 pb-1 block">Пароль</label>
        <form-error v-for="(error, index) in vv.password.$errors" :key="index" :error="error"/>
        <input v-model="vv.password.$model"
               type="text" class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
               :class="{'border-red-500 focus:border-red-500 focus:outline-none': vv.password.$error}"/>

        <label class="font-semibold text-sm text-gray-600 pb-1 block">Повторите пароль</label>
        <form-error v-for="(error, index) in vv.password2.$errors" :key="index" :error="error"/>
        <input v-model="vv.password2.$model"
               type="text" class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"
               :class="{'border-red-500 focus:border-red-500 focus:outline-none': vv.password2.$error}"/>

        <div class="flex items-center mb-5">
          <input v-model="vv.checked.$model"
                 type="checkbox" class="mr-2">
          <label :class="{'text-red-500': vv.checked.$error}" class="text-sm font-light">Я ознакомился и согласен с
            договором оферты</label>
        </div>
        <button @click="() => {onSubmit(1)}"
                type="button"
                class="bg-gradient-to-r from-emerald-500 to-emerald-600 text-white w-full py-2.5 rounded-sm text-sm shadow-sm font-semibold text-center inline-block">
          <span class="inline-block mr-2">Зарегистрироваться</span>
        </button>
        <router-link to="/login" class="text-sm font-light block mt-4">Уже есть аккаунт?</router-link>
      </div>
      <div v-if="step === 2" class="px-8 py-7">
        <p class="mb-4 font-semibold text-lg">Информация о заведении</p>
        <div class="py-2">
          <p class="font-medium text-lg">Название заведения</p>
          <p class="text-xs font-semibold text-gray-500">Введите название своего заведения, под которым оно будет
            представлено клиентам. Название можно изменить в любое время.</p>
        </div>
        <form-error v-for="(error, index) in step2Validator.name.$errors" :error="error" :key="index" />
        <input v-model="step2Validator.name.$model"
               :class="{'border-red-500': step2Validator.name.$error}"
               type="text"
               class="text-gray-500 border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full"/>
        <label class="font-semibold text-lg pb-1 block">Тип заведения</label>
        <select class="w-full text-gray-500 border rounded sm px-3 py-2 mt-1 text-sm mb-5">
          <option>Ресторан</option>
          <option>Онлайн магазин</option>
          <option>Магазин цветов</option>
          <option>Одежда и обувь</option>
          <option>Автосервис, автозапчасти</option>
          <option>Косметика</option>
          <option>Другое</option>
        </select>
        <div class="pb-3">
          <p class="font-medium text-lg">Количество заведений</p>
          <p class="text-xs font-medium text-gray-500">Вы хотите подключить одно заведение или несколько заведений в
            одного бота?</p>
        </div>

        <div class="">
          <div class="flex justify-between bg-gray-100 mb-2 p-3 rounded-md">
            <div class="flex justify-between items-center">
              <input class="mr-1" type="radio" id="one" value="One" v-model="picked">
              <label for="one" class="text-sm font-normal">Одно заведение</label>
            </div>
            <div class="w-2/3 text-sm text-blue-400 underline">
              <a href="">Смотреть примеры работы чат-бота для одного заведения</a>
            </div>
          </div>
          <div class="flex justify-between bg-gray-100 p-3 rounded-md">
            <div class="flex justify-between items-center">
              <input class="mr-1" type="radio" id="two" value="Two" v-model="picked">
              <label for="two" class="text-sm font-normal">Сеть заведений</label>
            </div>
            <div class="w-2/3 text-sm text-blue-400 underline">
              <a href="">Смотреть примеры работы чат-бота для сети заведений</a>
            </div>
          </div>
        </div>

        <div class="mt-5 flex justify-between">
          <div class="w-1/2 mr-3">
            <label class="font-medium text-lg pb-1 block">Часовой пояс</label>
            <select class="w-full text-gray-500 border rounded sm px-3 py-2 mt-1 text-sm mb-5">
              <option class="bg-red-500">Европа\Москва</option>
            </select>
          </div>
          <div class="w-1/2">
            <label class="font-medium text-lg pb-1 block">Валюта</label>
            <select class="w-full text-gray-500 border rounded sm px-3 py-2 mt-1 text-sm mb-5">
              <option>Российский рубль</option>
            </select>
          </div>
        </div>

        <button @click="onSubmit(2)"
                type="button"
                class="transition duration-200 bg-blue-400 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-sm text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
          <span class="inline-block mr-2">Продолжить</span>
        </button>
      </div>
      <div v-if="step === 3" class="px-8 py-7">
        <p class="mb-4 font-semibold text-lg">Добавление меню</p>

        <div class="flex flex-col justify-between md:flex-row  my-4">
          <div class="md:w-2/5 border rounded-sm text-center p-6 text-sm hover:shadow-md font-semibold cursor-pointer">
            <div class="">
              <img class="mx-auto h-24" src="@/assets/images/download.svg" alt="download-icon">
            </div>
            <span class="text-lg font-normal">Выгрузить меню из CRM</span>
          </div>
          <div class="md:w-2/5 border rounded-sm text-center p-6 text-sm hover:shadow-md font-semibold cursor-pointer">
            <div class="">
              <img class="mx-auto h-24" src="@/assets/images/addCustom.svg" alt="download-icon">
            </div>
            <span class="text-lg font-normal">Добавить меню вручную</span>
          </div>
        </div>
        <button type="button"
                class="transition duration-200 bg-blue-400 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-sm text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
          <span class="inline-block mr-2">Пропустить этот шаг и заполнить меню позже</span>
        </button>
      </div>
    </div>

    <div class="ml-10 py-10 w-3/5 hidden md:block text-white pr-48">
     <p class="text-2xl font-bold">Шаг {{step}} из 3</p>
      <div>
        <div class="w-full mt-5 mb-10 h-1 bg-white">
          <div v-if="step === 1" class="w-1/3 h-full bg-emerald-500 "></div>
          <div v-if="step === 2" class="w-2/3 h-full bg-emerald-500 "></div>
          <div v-if="step === 3" class="w-3/3 h-full bg-emerald-500 "></div>
        </div>
        <p v-if="step === 1">
          После регистрации будет создан аккаунт и Вы автоматически войдете в только что созданный кабинет
        </p>
        <p v-if="step === 2">
          На этом этапе заполните основную информацию о вашем заведении. В дальнейшем вы сможете поменять ее в настройках
        </p>
        <p v-if="step === 3">
          Синхронизация с вашей CRM поможет моментально загрузить меню.  Если ваше заведение работает без CRM, то вы можете добавить меню вручную.
        </p>
        <img v-if="step === 2"
             class="mt-5"
             src="@/assets/images/coffeshop.png" alt="">
        <img v-if="step === 1" src="@/assets/images/mainScreen.png  " alt="">
        <img v-if="step === 3"
             class="h-72"
             src="@/assets/images/step3.png" alt="">
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<script>
  import useVuelidate from '@vuelidate/core'
  import {required, minLength, email, sameAs} from '@vuelidate/validators'
  import {reactive} from 'vue'
  import {ref, toRef} from "@vue/reactivity";
  import FormError from "../shared/FormError";


  export default {
    components: {FormError},
    setup: () => {
      let step = ref(1)
      const fform = reactive({
        name: "",
        phone: '',
        email: '',
        password: '',
        password2: '',
        checked: false
      });
      const step2 = reactive({
        name: '',
        type: '',
      })

      const step2Rules = {
        name: {required}
      }
      const rules = {
        name: {required, minLength: minLength(4)},
        phone: {required},
        email: {required, email},
        password: {required, minLength: minLength(4)},
        password2: {required, sameAsPassword: sameAs(toRef(fform, "password"))},
        checked: {required, sameAs: sameAs(true)}
      };
      const step2Validator = useVuelidate(step2Rules, {
        name: toRef(step2, 'name'),
        type: toRef(step2, 'type'),
      })
      const vv = useVuelidate(rules, {
        name: toRef(fform, "name"),
        phone: toRef(fform, "phone"),
        email: toRef(fform, "email"),
        password: toRef(fform, "password"),
        password2: toRef(fform, "password2"),
        checked: toRef(fform, 'checked')
      });

      const onSubmit = (stepNumber) => {
        if (stepNumber === 1) {
          vv.value.$touch();

          if (vv.value.$invalid) {
            return
          }
          step.value += 1
        } else if (stepNumber === 2) {
          step2Validator.value.$touch();

          if (step2Validator.value.$invalid) {
            console.log('error')
            return
          }
          step.value += 1
        }

      };

      return {
        fform,
        step,
        onSubmit,
        vv,
        step2Validator
      };
    },
  }
</script>

<style scoped>
 .form-shadow {
   box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.2);
 }
</style>