<template>
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <div class="bg-white shadow w-full rounded-sm divide-y divide-gray-200">
      <div class="px-8 py-7">
        <p class="mb-4 font-semibold text-lg">Восстановление пароля</p>
        <label class="font-semibold text-sm text-gray-600 pb-1 block">E-mail</label>
        <form-error v-for="(error, index) in vv.email.$errors" :error="error" :key="index"></form-error>
        <input  v-model="vv.email.$model"
                type="text" class="border rounded-sm px-3 py-2 mt-1 mb-5 text-sm w-full" :class="{'border-red-500': vv.email.$error}"/>
        <button @click="onSubmit"
                type="button"
                class="transition duration-200 bg-blue-400 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-sm text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
          <span class="inline-block mr-2">Восстановить пароль</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import {reactive} from "vue";
  import {email, required} from "@vuelidate/validators";
  import useVuelidate from "@vuelidate/core";
  import {toRef} from "@vue/reactivity";
  import FormError from "../shared/FormError";

  export default {
    name: "ResetForm",
    components: {FormError},
    setup: () => {
      const step = reactive(1)
      const fform = reactive({
        email:'',
      });
      const rules = {
        email: {required, email},
      };
      const vv = useVuelidate(rules, {
        email: toRef(fform, "email"),
      });
      const onSubmit = () => {
        vv.value.$touch();

        if (vv.value.$invalid) {
          return
        }
        alert('reset request')
      };
      return {
        step,
        onSubmit,
        vv,
      };
    },

  }
</script>

<style scoped>

</style>